{
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    },
    {
      "files": "*.glsl",
      "options": {
        "parser": "glsl-parser"
      }
    }
  ],
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss", "prettier-plugin-glsl"],
  "printWidth": 100,
  "singleQuote": false,
  "tailwindStylesheet": "./src/lib/styles/global.css",
  "trailingComma": "all",
  "useTabs": false
}
